# Ignore Python virtual environments
to-do_env/
todo_project\tasks\terraform\.terraform
todo_project\tasks\terraform\*.tfstate
todo_project\tasks\terraform\*.tfstate.*
# Byte-compiled files
__pycache__/
*.py[cod]

# Virtualenvs
.env
venv/
